extends layout
block content
    .component__mainLayout
        .component__mainLayout-top(data-toolbar-container-id="01")
        .component__mainLayout-left(data-notebooks-container-id="01")
        .component__mainLayout-rightTop(data-notes-container-id="01")
        .component__mainLayout-rightBottom(data-note-container-id="01")
