doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible')
        title=romnote
        meta(name="description", content=description)
        meta(name="author", content=author)
        meta(name="viewport", content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/styles/main.css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
        script(src='/scripts/vendor/modernizr.js')
    body
        block content
        block footer-scripts
            script(src="/scripts/vendor.js")
            script(src="/scripts/main.js")
